#landing-section {
  display: flex;
  height: 100vh;
  padding: 30px 10%;

  .content,
  .illustration {
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 40%;

    align-self: center;
    gap: 10px;
  }
  .illustration {
    background-image: url("/assets/landing-page/hero-banner.jpg");
  }
}

#valeurs-section {
  background-color: #001c47;
  color: #34bfff;
}

button {
  background-color: #ff9b4f;
  color: #fff;

  padding: 13px 34px;
  border-radius: 26px;

  cursor: pointer;

  font-size: 1rem;
  font-weight: 600;

  width: max-content;

  & {
    &.rounded {
      border-radius: 26px;
    }
    &.cta-discovair {
      margin-top: 30px;
    }
  }
}

h1 {
  transform-origin: left;
  font-size: 64px;
  font-weight: 600;
  color: #091434;
  letter-spacing: -0.5px;
  line-height: normal;
}

h3 {
  font-size: 17px;
  color: #7c8594;
  transform-origin: left;
}
