<header>
  <h1>DISCOVAIR</h1>
  <p>Explorez Découvrez Partagez</p>
</header>

<section>
  <h1>Bienvenue sur Discovair, la plateforme dédiée au drône fpv !</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac massa eu
    mauris luctus varius. Fusce euismod aliquam leo, nec aliquam ex varius vel.
    Nullam fermentum dui eu mauris posuere, non convallis orci efficitur. Sed
    consectetur ipsum id justo hendrerit, id auctor nulla mattis.
  </p>
  <a href="#" class="cta-button" [routerLink]="['app']">Commençons !</a>
</section>

<section class="features-section">
  <div class="feature">
    <img src="https://via.placeholder.com/150" alt="Feature 1" />
    <h2>Feature 1</h2>
    <p>Description de la feature 1.</p>
  </div>

  <div class="feature">
    <img src="https://via.placeholder.com/150" alt="Feature 2" />
    <h2>Feature 2</h2>
    <p>Description de la feature 2.</p>
  </div>

  <div class="feature">
    <img src="https://via.placeholder.com/150" alt="Feature 3" />
    <h2>Feature 3</h2>
    <p>Description de la feature 3.</p>
  </div>

  <div class="feature">
    <img src="https://via.placeholder.com/150" alt="Feature 4" />
    <h2>Feature 4</h2>
    <p>Description de la feature 4.</p>
  </div>

  <div class="feature">
    <img src="https://via.placeholder.com/150" alt="Feature 5" />
    <h2>Feature 5</h2>
    <p>Description de la feature 5.</p>
  </div>
</section>

<footer>© 2023 Landing Page. Tous droits réservés.</footer>
