@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --auto: #2b2b2b;
  --secondary: #7c8594;
  --orange: #ff923e;
  --blue: #34bfff;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/font/Poppins-light.ttf");
}

body,
* {
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif !important;
}

html,
body {
  height: 100%;
}
body {
  font-family: Popins, Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
}
